* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  color: white;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.8)),
    url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6Ii9mL2Y1NjJhYWY0LTVkYmItNDYwMy1hMzJiLTZlZjZjMjIzMDEzNi9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.FScrpAAFnKqBVKwe2syeiOww6mfH6avq-DRHZ_uFVNw");
  background-size: cover;
  background-position: center;
  position: relative;
}

/* NAVBAR */
.navbar {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 110px;
  height: 90px;
}

.logo {
  color: red;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1px;
}
.logo img {
  width: 290px;
}
.nav-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.language-icon {
  color: white;
  font-size: 20px;
  margin-right: 6px;
  display: inline-flex;
  align-items: center;
}

/* Language Select */
.language {
  padding: 7px 14px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.language option {
  color: black;
}

/* Sign In Button */
.signin {
  background: red;
  padding: 8px 18px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.signin:hover {
  background: red;
}

/* CENTER CONTENT */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  max-width: 850px;
}

.hero-content h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-content h3 {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 36px;
}

.hero-content p {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0 20px;
}

/* EMAIL SECTION */
.email-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.email-section input {
  padding: 18px;
  width: 400px;
  max-width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 16px;
}

.email-section input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.get-started {
  background: red;
  padding: 18px 30px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.get-started:hover {
  background: red;
}
